__pycache__
.coverage
.doit*
.env/
.hypothesis/
.ipynb_checkpoints/
.yarn-packages/
*-shm
*-wal
*.egg-info
*.tsbuildinfo
**/labextensions/
build/
dist/
docs/_reports/
JANKI_DEBUG*
lib/
node_modules/
untitled*
Untitled*