[submodule "vendor/anki"]
	path = vendor/ankitects/anki
	url = https://github.com/ankitects/anki
[submodule "vendor/ankidroid/Anki-Android.wiki"]
	path = vendor/ankidroid/Anki-Android.wiki
	url = https://github.com/ankidroid/Anki-Android.wiki.git
